img[alt*="-height:shortest"] {max-height:100px;}
img[alt*="-height:shorter"] {max-height:150px;}
img[alt*="-height:short"] {max-height:225px;}
img[alt*="-height:normal"] {max-height:340px;}
img[alt*="-height:tall"] {max-height:510px;}
img[alt*="-height:taller"] {max-height:765px;}
img[alt*="-height:tallest"] {max-height:1150px;}

img[alt*="-width:narrowest"] {width:13%;}
img[alt*="-width:narrower"] {width:20%;}
img[alt*="-width:narrow"] {width:30%;}
img[alt*="-width:normal"] {width:45%;}
img[alt*="-width:wide"] {width:60%;}
img[alt*="-width:wider"] {width:80%;}
img[alt*="-width:widest"] {width:100%;}
img[alt*="-width:full"] {width:100%;}
img[alt*="-width:half"] {width:48%;}
