__pycache__
tutorials/.ipynb_checkpoints
.DS_Store
.spyproject
build
dist
ktk.egg-info
*.orig
roadmap.xlsx
doc/*.html
timeseries.md
doc/api
doc/kinematics_files
doc/timeseries_files
site/data
site/*.py
*-checkpoint.ipynb
site/*.ipynb
dbinterface.md
filters.md
geometry.md
inversedynamics.md
pushrimkinetics.md
doc/filters_files
doc/inversedynamics_files
doc/pushrimkinetics_files
doc/.ipynb_checkpoints
