/* Main style for API */

dl.py.method {
	margin-top: 100px;
	border-top-style: solid;
}

dl.py.function {
	margin-top: 100px;
	border-top-style: solid;
}

dl.py.class {
	margin-top: 100px;
	border-top-style: solid;
}

code.sig-prename {
	background: none;
}

code.sig-name {
	font-size: 110%;
	font-weight: bold;
	background: none;
}

/* Autosummary in API */
table.docutils {
	font-size: 90%;
}

/* Workaround for overflowing secondary toc */
nav.md-nav--secondary {
	margin-right: 2em;
}
