th, td {
	padding-left: 8pt;
	padding-right: 8pt;
	font-family: arial, helvetica, verdana;
	font-size: 10pt;
	border-width: 0px;
	}

th {
    font-weight: bold;
    }

table {
    border-width: 0px;
    }

pre {
    font-size: 11pt;
    }
