/*
p {
	font-size: 10pt;
}
*/

pre {
	font-size: 10pt !important;
}
*/

h2 {
	font-size: 18pt !important;
	padding-top: 60px !important;
	padding-bottom: 10px !important;
}
h3 {
	font-size: 12pt !important;
	padding-top: 40px !important;
}
h4 {
	font-size: 11pt !important;
}

div.prompt {
	display: none;
}

div.output_png {
	max-width: 100%;
	}

div.container {
	max-width: 900px;
}

a.anchor-link {
	display: none;
}
